<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        
       
        <img class="img-logo" src="./images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
        
        <input class="input" type="text" placeholder="Buscar Productos" > 

        
        
        <p class="compra-cuotas"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        
    <div class="navbar">    
       <ul type= "none" class="navbar1"> 
        
            <li> <a class="barra-nav" href="#">Ofertas</a> </li>
            <li> <a class="barra-nav" href="#">Tiendas Oficiales</a> </li>
            <li> <a class="barra-nav" href="#">Vender</a> </li>
            <li> <a class="barra-nav" href="#">Ayuda</a> </li>
       </ul> 
        
        <ul type= "none" class="navbar2">
            <li> <a class="barra-nav" href="/register">Creá tu cuenta <i class="fas fa-address-card"></i></a> </li>
            <li> <a class="barra-nav" href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a> </li>
            <li> <a class="barra-nav"href="#">Mis compras <i class="fas fa-shopping-basket"></i></a> </li>
        </ul>
    </div>
        
        <div class="icono-burger">
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        </div>  
        
        
    </header>

    <img class="banner" src="./images/img-home-banner.jpg" alt="banner">

    <main class="main">
        
        
        <h2 class="primerTitulo">Basado en tu última visita</h2>

    <article class="sections1">
        <section class="productos">
        <img class="img-productos" src=".\images\img-cafetera-moulinex.jpg">
        <div class="infoProductos">
         <div class="iconoProductos"><i class="fas fa-truck"></i></div>
            <div class="precioDescuento">
                <p class="precio"> $6.770 </p>
                <p class="descuento">  40% off </p>  
            </div>       
         <p class="nombreProducto"> <strong>Cafetera Moulinex </strong></p>
        </div>
        </section>

         <section class="productos">
         <img class="img-productos" src=".\images\img-macbook-pro-2019.jpg">
         <div class="infoProductos">
            <div class="iconoProductos"><i class="fas fa-truck"></i></div>
                <div class="precioDescuento">
                    <p class="precio">$230.000 </p>
                    <p class="descuento"> 20% off </p>          
                </div>    
          <p class="nombreProducto"><strong>MacBook Pro 2019</strong></p>
        </div>
         </section>

        <section class="productos">
        <img class="img-productos" src=".\images\img-samsung-galaxy-s10.jpg">
        <div class="infoProductos">
            <div class="iconoProductos"><i class="fas fa-truck"></i></div>
            <div class="precioDescuento">
                <p class="precio"> $70.500 </p>
                <p class="descuento">10% off </p> 
            </div>
         <p class="nombreProducto"><strong>Samsung Galaxy S10</strong></p>
        </div>
        </section>
        
        <section class="productos">
        <img class="img-productos" src=".\images\img-tv-samsung-smart.jpg">
        <div class="infoProductos"> 
            <div class="iconoProductos"><i class="fas fa-truck"></i></div>
                <div class="precioDescuento">   
                    <p class="precio"> $23.200 </p>
                    <p class="descuento">   5% off </p> 
                </div>
         <p class="nombreProducto"> <strong>SmartTv Samsung 43"</strong></p>
        </div>
        </section>

    </article>
        
    <h2 class="primerTitulo">Ofertas</h2>

    <article class="sections2">  

         
     
       
         <section class="productos">
        <img class="img-productos" src=".\images\img-cafetera-moulinex.jpg" alt="Cafetera moulinex">
         <div class="infoProductos">
            <div class="iconoProductos"><i class="fas fa-truck"></i></div>
                <div class="precioDescuento">
                    <p class="precio"> $6.770 </p>
                    <p class="descuento">40% off </p> 
                </div>
         <p class="nombreProducto"> <strong>Cafetera Moulinex </strong></p>
        </div>
         </section>

         <section class="productos">
        <img class="img-productos" src=".\images\img-macbook-pro-2019.jpg">
         <div class="infoProductos">
            <div class="iconoProductos"><i class="fas fa-truck"></i></div>
                <div class="precioDescuento">
                    <p class="precio">$230.000 </p>
                    <p class="descuento"> 20% off  </p> 
                </div>          
         <p class="nombreProducto"><strong>MacBook Pro 2019</strong></p>
        </div> 
        </section>

         <section class="productos">
        <img class="img-productos" src=".\images\img-samsung-galaxy-s10.jpg">
        <div class="infoProductos">
            <div class="iconoProductos"><i class="fas fa-truck"></i></div>
                <div class="precioDescuento">
                    <p class="precio"> $70.500 </p>
                    <p class="descuento">  10% off </p> 
                </div>
         <p class="nombreProducto"><strong>Samsung Galaxy S10</strong></p>
        </div>
         </section>

         <section class="productos">
        <img class="img-productos" src=".\images\img-tv-samsung-smart.jpg">
         <div class="infoProductos">
            <div class="iconoProductos"><i class="fas fa-truck"></i></div>
                <div class="precioDescuento">
                    <p class="precio"> $23.200 </p>
                    <p class="descuento">   5% off </p> 
                </div>
         <p class="nombreProducto"> <strong>SmartTv Samsung 43"</strong></p>
        </div>
         </section>
    </article>

    </main>

    <footer class="footer">
        
        <article>
        <div class="iconos-footer"><i class="fas fa-credit-card"></i></div>
        <h4 class="titulosFooter" >Pagá con tarjeta o en efectivo</h4>
        <p class="textoFooter">Con Mercado Liebre Cash, tenés cuotas sin <br> interés con tarjeta o efectivo en
            puntos de <br> pago. ¡Y siempre es seguro!</p>
            </article>

            <article>
        <div class="iconos-footer"><i class="fas fa-gift"></i></div>
        <h4 class="titulosFooter">Envío gratis desde $ 2.500</h4>
        <p class="textoFooter">Solo por estar registrado en Mercado Liebre <br> tenés envíos gratis en miles de
            productos. Es <br> un beneficio de Mercado Puntos.</p>
            </article>

            <article>
        <div class="iconos-footer"><i class="fas fa-user-shield"></i></div>
        <h4 class="titulosFooter">Seguridad, de principio a fin</h4>
        <p class="textoFooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre <br> no hay nada que no puedas hacer,
            porque estás <br> siempre protegido.</p>

        <p class="textoFooter">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </article>

    </footer>

    
</body>
</html>