<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="css/login.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
</head>
<body>

   <header>
        
       
      <img class="img-logo" src="./images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
      
      <input class="input" type="text" placeholder="Buscar Productos" > 

      
      
      <p class="compra-cuotas"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
      
  <div class="navbar">    
     <ul type= "none" class="navbar1"> 
      
          <li> <a class="barra-nav" href="#">Ofertas</a> </li>
          <li> <a class="barra-nav" href="#">Tiendas Oficiales</a> </li>
          <li> <a class="barra-nav" href="#">Vender</a> </li>
          <li> <a class="barra-nav" href="#">Ayuda</a> </li>
     </ul> 
      
      <ul type= "none" class="navbar2">
          <li> <a class="barra-nav" href="/register">Creá tu cuenta <i class="fas fa-address-card"></i></a> </li>
          <li> <a class="barra-nav" href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a> </li>
          <li> <a class="barra-nav"href="#">Mis compras <i class="fas fa-shopping-basket"></i></a> </li>
      </ul>
  </div>
      
      <div class="icono-burger">
      <div class="burger-menu">
          <i class="fas fa-bars"></i>
      </div>
      </div>  
      
      
  </header>








    <form class="form" action="/" method="post">

     <fieldset>

        <label class="none" for="nombreUsuario">Nombre de Usuario</label>
        <input class="inputForm" type="text" name="nombreUsuario" id="nombreUsuario" placeholder="Nombre de Usuario" required>

    

        <label class="none" for="contra">Contraseña</label>
        <input class="inputForm" type="password" name="contra" id="contra" placeholder="Contraseña" required>

     

     <button class="boton" type="submit">Iniciar sesión</button>

   </fieldset>


     

   <footer class="footer">
        
      <article>
      <div class="iconos-footer"><i class="fas fa-credit-card"></i></div>
      <h4 class="titulosFooter" >Pagá con tarjeta o en efectivo</h4>
      <p class="textoFooter">Con Mercado Liebre Cash, tenés cuotas sin <br> interés con tarjeta o efectivo en
          puntos de <br> pago. ¡Y siempre es seguro!</p>
          </article>

          <article>
      <div class="iconos-footer"><i class="fas fa-gift"></i></div>
      <h4 class="titulosFooter">Envío gratis desde $ 2.500</h4>
      <p class="textoFooter">Solo por estar registrado en Mercado Liebre <br> tenés envíos gratis en miles de
          productos. Es <br> un beneficio de Mercado Puntos.</p>
          </article>

          <article>
      <div class="iconos-footer"><i class="fas fa-user-shield"></i></div>
      <h4 class="titulosFooter">Seguridad, de principio a fin</h4>
      <p class="textoFooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre <br> no hay nada que no puedas hacer,
          porque estás <br> siempre protegido.</p>

      <p class="textoFooter">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </article>

  </footer>


    
</body>
</html>